.TodoDetail {
  padding: 24px 36px 12px 12px;
  flex-shrink: 0;
  width: 380px;
  position: relative;
  outline: none;
}

.TodoDetail--fields {
  overflow-y: auto;
  height: 100%;
  width: calc(100% + 36px);
}

.TodoDetail-todo-content {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  color: #333;
}

.TodoDetail-todo-content .app-checkbox {
  margin-top: 2px;
  margin-right: 12px;
}

.TodoDetail .comment-field {
  padding-top: 8px;
  border-bottom: 1px solid #e8e8e8;
}

.TodoDetail .comment-field textarea {
  border: 0;
  width: 100%;
  resize: none;
  outline: none;
  -webkit-appearance: none;
}
