.AppDateTimePicker {
  border: none;
  cursor: pointer;
}

.AppDateTimePicker:focus,
.AppDateTimePicker:active {
  border: none;
  outline: none;
}

.react-datepicker__close-icon {
  top: -2px !important;
}
.react-datepicker__close-icon::after {
  font-size: 24px !important;
  color: #555 !important;
  background-color: transparent !important;
  display: block !important;
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  padding-bottom: 4px !important;
}
