.DetailField {
  border-bottom: 1px solid #e8e8e8;
  padding-top: 18px;
  line-height: 38px;
}

.DetailField svg {
    width: 24px !important;
    margin-right: 10px;
    margin-left: -2px;
    font-size: 18px;
    position: relative;
    top: 2px;
}
