.app-button {
  border: none;
  -webkit-appearance: none;
  border-radius: 5px;
  padding: 6px 20px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}

.app-button[disabled] {
  background-color: #d8d8d8 !important;
}

.app-button.primary {
  background-color: #16a8f8;
  color: white;
}

.app-button.error {
  background-color: orangered;
  color: white;
}

.app-button.ghost {
  background-color: transparent;
}

.app-button.lg {
  padding: 6px 28px;
  font-size: 16px;
}
