.app-rounded-checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  background: #80d7ff;
  border-radius: 50px;
  display: block;
}

.app-rounded-checkbox .label {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  cursor: pointer;
  background: white;
  border-radius: 50px;
}

.app-rounded-checkbox .label::after {
  content: "";
  width: 10px;
  height: 6px;
  position: absolute;
  top: 4px;
  left: 2.5px;
  border: 3px solid #28bbff;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.app-rounded-checkbox .label:after:hover::after {
  opacity: 0.3;
}

.app-rounded-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.app-rounded-checkbox input[type="checkbox"]:checked + .label::after {
  opacity: 1;
}
