
.ReactModal__Overlay {
  z-index: 100;
}

.ReactModal__Content {
  border: 1px solid rgba(204, 204, 204, 0.3) !important;
  min-width: 450px;
  box-shadow: 2px 4px 9px #eee;
  overflow: hidden !important;
}