.ReactModal__Overlay {
  z-index: 100;
}

.ReactModal__Content {
  min-width: 450px;
  box-shadow: 0 0 9px #ddd;
  border-radius: 8px !important;
  border: none !important;
  overflow: hidden !important;
}
