
.tag-select {

}

.tag-select--item {
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    border-radius: 6px;
    padding: 0 12px;
    cursor: pointer;
    background-color: #e8e8e8;
    margin-bottom: 8px;
}


.tag-select--item svg {
    width: 32px !important;
}