.todo-page-aside {
  width: 220px;
  padding-right: 32px;
}

.todo-page-aside--avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 12px;
}

.todo-page-aside--info {
  text-align: center;
}