.todo-page {
  display: flex;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.todo-page .tag-select {
  margin-top: 12px;
  margin-left: 24px;
}

.todo-creator {
  margin-bottom: 16px;
}

.todo-page--main {
  padding-left: 20px;
}
