.todo-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 12px !important;
  line-height: 1.5;
  margin-bottom: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.todo-item.selected {
  background-color: #80d7ff26;
}

.todo-item .ant-list-item-content {
  align-items: center;
}

.app-checkbox {
  flex-shrink: 0;
}

.todo-item--content {
  padding: 9px 10px;
  width: 100%;
  display: flex;
}

.todo-item--content .content-text {
  text-overflow: ellipsis;
  overflow: hidden;
}
