.todo-creator {
  position: relative;
  height: 40px;
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin: 0 auto 18px;
}

.todo-creator .svg-inline--fa {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  color: #28bbff;
  font-size: 18px;
}

.todo-creator input {
  border: none;
  outline: none;
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 36px;
  border-radius: 16px;
  box-shadow: 0 0 8px #fff;
  transition: all 100ms ease-in-out;
}

.todo-creator input:focus {
  box-shadow: 0 0 8px #28bbff;
}
