.todo-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 9px 12px !important;
  line-height: 1.5;
}

.todo-item.selected {
  background-color: #80d7ff26;
}

.todo-item .ant-list-item-content {
  align-items: center;
}

.app-checkbox {
  flex-shrink: 0;
}

.todo-item--content {
  padding-left: 10px;
  width: 100%;
}
