.todo-creator {
  position: relative;
  height: 42px;
}

.todo-creator .svg-inline--fa {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  color: #28bbff;
  font-size: 18px;
}

.todo-creator input {
  border: none;
  outline: none;
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 42px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 0 8px #fff;
  transition: all 100ms ease-in-out;
  color: #006fa2;
  background-color: #80d7ff3b;
}

.todo-creator input::placeholder {
  color: #006fa2;
}

.todo-creator input:focus {
}
